/* Global styles */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
    background-color: rgb(251, 244, 244);
}

/* Container */
.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

/* Card */
.card {
	background-color: #c81e29;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(162, 70, 70, 0.2);
	padding: 20px;
	margin-top: 20px;
}

/* Headings */
h1 {
	text-align: center;
}

/* Paragraphs */
p {
	margin: 0;
	line-height: 1.5;
}

/* Strong */
strong {
	font-weight: bold;
	color: #333;
}
