      body{
        background-image: url(../../src/bg.jpg);
      }
      /* chat section */

      .chat-container {
        width: 1080px;
        height: 520px;
        border: 1px solid #ccc;
        background-color: hsl(267, 85%, 15%);
        border-radius: 10px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
      }
      
      .chat-header {
        background-color: rgb(16, 3, 39);
        /* background-color: transparent; */
        padding: 10px;
        text-align: center;
      }
      
      .chat-box {
        flex: 1;
        display: flex;
        height: 380px;
        flex-direction: column;
        padding: 10px;
        overflow-y: scroll;
      }
      
      .message {
        max-width: 80%;
        padding: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 10px;
        border-radius: 10px;
        font-size: 16px;
        color: black;
      }
      
      .received {
        background-color: #f1f0f0;
        align-self: flex-start;
      }
      
      .sent {
        background-color: #d5f5e3;
        align-self: flex-end;
      }
      
      .chat-form {
        display: flex;
        padding: 10px;
        border-color: black;
      }
      
      .chat-form input[type="text"] {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border: none;
        background-color: #d5f5e3;
        border-radius: 5px;
      }
      
      .chat-form button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #2196f3;
        color: #fff;
        cursor: pointer;
      }