nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  

.feed-post-form {
    margin-bottom: 20px;
    padding: 200px;
  }
  
  .feed-post-form form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .feed-post-form form textarea {
    font-size: 16px;
    padding: 10px;
    border: none;
    resize: none;
    height: 100px;
    margin-bottom: 10px;
    background-color: #f0f2f5;
    border-radius: 4px;
  }
  
  .feed-post-form form textarea::placeholder {
    color: #999;
  }
  
  .feed-post-form form .form-actions {
    display: flex;
    align-items: center;
  }
  
  .feed-post-form form .form-actions .action-item {
    background-color: transparent;
    border: none;
    color: #666;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .feed-post-form form .form-actions .action-item:hover {
    color: #4267B2;
  }
  
  .feed-post-form form .form-actions #image-upload {
    display: none;
  }
  
  .feed-post-form form .form-actions button[type="submit"] {
    background-color: #4267B2;
    color: #fff;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .feed-post-form form .form-actions button[type="submit"]:hover {
    background-color: #4c76c4;
  }
  
  .feed-post-form form .form-actions button[type="submit"]:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  .feed-post-form form .form-actions label[for="image-upload"] {
    position: relative;
  }
  
  .feed-post-form form .form-actions label[for="image-upload"]::before {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    border-radius: 50%;
    border: 3px solid #4267B2;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .feed-post-form form .form-actions label[for="image-upload"] i {
    font-size: 24px;
  }
  
  .feed-post-form form .form-actions label[for="image-upload"]:hover::before {
    opacity: 0.3;
  }
  